#jinja2:lstrip_blocks: True
root@{{ ansible_hostname }}  root@{{ hostname }}

{% for domain in virtual_mail_domains %}
  {% for user in domain.users %}
{{ user }} {{ user }}@{{ domain['domain'] }}
  {% endfor %}
{% endfor %}
