mail._domainkey.{{ hostname }} {{ hostname }}:mail:/etc/opendkim/keys/{{ hostname }}/mail.private
{% for domain in v_domains_list %}
mail._domainkey.{{ domain }} {{ domain }}:mail:/etc/opendkim/keys/{{ domain }}/mail.private
{% endfor %}
